@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Ocupar 100% da altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Enviar a imagem para o fundo */
}

.textoSobreposto {
  font-size: 50px;
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1; /* Garantir que o texto fique acima da imagem */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center; 
  line-height: 0.9; 
  font-family: 'Bungee', cursive; /* Define a fonte Bungee */
  font-weight: normal; /* Garante que a fonte não será em negrito */
  letter-spacing: 11px;
}

.textoSobrepostoDescr {
  font-size: 25px;
  color: white;
  padding: 21px;
  border-radius: 10px;
  z-index: 1; /* Garantir que o texto fique acima da imagem */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center; 
  line-height: 1.2; 
  font-family: 'Bungee', cursive; /* Define a fonte Bungee */
  font-weight: normal; /* Garante que a fonte não será em negrito */
  letter-spacing: 5px;
}

.botao-especialista {
  background-color: #ff9419; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 20px 33px; /* Espaçamento interno */
  font-size: 25px; /* Tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remove o sublinhado do texto */
  display: inline-block; /* Faz o botão se comportar como um bloco em linha */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transição suave */
  text-align: center; 
  font-family: 'Bungee', cursive; /* Define a fonte Bungee */
  font-weight: normal; /* Garante que a fonte não será em negrito */
}

.botao-especialista:hover {
  background-color: #ff0000; /* Cor de fundo ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.textoSobrepostoPrinciapal{
  text-align: center; /* Alinhamento do texto */
}


@media screen and (max-width: 1070px) {
  .textoSobreposto {
    font-size: 40px;
  }
  .textoSobrepostoDescr {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .textoSobreposto {
    font-size: 30px;
    letter-spacing: 8px;
  }
  .textoSobrepostoDescr {
    font-size: 20px;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 750px) {
  .textoSobreposto {
    font-size: 30px; /* Pode ajustar este valor se desejar algo diferente para telas menores */
    letter-spacing: 3px;
  }
  .textoSobrepostoDescr {
    font-size: 20px;
    letter-spacing: 2px;
  }

}

@media screen and (max-width: 650px) {
  .textoSobreposto {
    font-size: 25px; /* Pode ajustar este valor se desejar algo diferente para telas menores */
    letter-spacing: 1px;
  }
  .textoSobrepostoDescr {
    font-size: 15px;
    letter-spacing: 1px;
  }
  .botao-especialista {
    font-size: 20px; /* Tamanho da fonte */
  }
}

@media screen and (max-width: 550px) {
  .textoSobreposto {
    font-size: 20px; /* Pode ajustar este valor se desejar algo diferente para telas menores */
    letter-spacing: 1px;
  }
  .textoSobrepostoDescr {
    font-size: 13px;
    letter-spacing: 1px;
  }
}