@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Ocupar 100% da altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Garante que a imagem de fundo não ultrapasse os limites */
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Enviar a imagem para o fundo */
}

.textoSobreposto {
  font-size: 3vw;
  color: white;
  padding: 3vw;
  z-index: 1; /* Garantir que o texto fique acima da imagem */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center; 
  line-height: 0.9; 
  font-family: 'Bungee', cursive; /* Define a fonte Bungee */
  font-weight: normal; /* Garante que a fonte não será em negrito */
  letter-spacing: 1vw;
}

.textoSobrepostoDescr {
  font-size: 1.7vw;
  color: white;
  padding: 21px;
  z-index: 1; /* Garantir que o texto fique acima da imagem */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center; 
  line-height: 1.2; 
  font-family: 'Bungee', cursive; /* Define a fonte Bungee */
  font-weight: normal; /* Garante que a fonte não será em negrito */
  letter-spacing: 0.2vw;
}

.botao-especialista {
  background-color: #ff9419; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  border-radius: 1vw; /* Bordas arredondadas */
  padding: 1vw 2vw; /* Espaçamento interno */
  font-size: 2vw; /* Tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remove o sublinhado do texto */
  display: inline-block; /* Faz o botão se comportar como um bloco em linha */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transição suave */
  font-family: 'Bungee', cursive; /* Define a fonte Bungee */
  font-weight: normal; /* Garante que a fonte não será em negrito */
}

.botao-especialista:hover {
  background-color: #ff0000; /* Cor de fundo ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.textoSobrepostoPrinciapal {
  text-align: center; /* Alinhamento do texto */
}

/* Media Queries para responsividade */
@media (max-width: 1200px) {
  .textoSobreposto {
    font-size: 4vw; /* Ajusta o tamanho da fonte para telas menores */
    padding: 4vw; /* Ajusta o padding para telas menores */
  }

  .textoSobrepostoDescr {
    font-size: 2.2vw; /* Ajusta o tamanho da fonte para telas menores */
    padding: 15px; /* Ajusta o padding para telas menores */
  }

  .botao-especialista {
    font-size: 2.5vw; /* Ajusta o tamanho da fonte para telas menores */
    padding: 1.5vw 3vw; /* Ajusta o padding para telas menores */
  }
}

@media (max-width: 768px) {
  .textoSobreposto {
    font-size: 5vw; /* Ajusta o tamanho da fonte para telas menores */
    padding: 5vw; /* Ajusta o padding para telas menores */
  }

  .textoSobrepostoDescr {
    font-size: 3vw; /* Ajusta o tamanho da fonte para telas menores */
    padding: 12px; /* Ajusta o padding para telas menores */
  }

  .botao-especialista {
    font-size: 3vw; /* Ajusta o tamanho da fonte para telas menores */
    padding: 1vw 2.5vw; /* Ajusta o padding para telas menores */
  }
}

@media (max-width: 480px) {
  .textoSobreposto {
    font-size: 6vw; /* Ajusta o tamanho da fonte para telas menores */
    padding: 6vw; /* Ajusta o padding para telas menores */
  }

  .textoSobrepostoDescr {
    font-size: 3.5vw; /* Ajusta o tamanho da fonte para telas menores */
    padding: 10px; /* Ajusta o padding para telas menores */
  }

  .botao-especialista {
    font-size: 3.5vw; /* Ajusta o tamanho da fonte para telas menores */
    padding: 1vw 2vw; /* Ajusta o padding para telas menores */
  }
}
