@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');


.sobreSectionSobre {
    background-color: #1F2428;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.sobreSectionSobre div{
    display: block;
    align-items: center;
    justify-content: center;
}

.sobreTitulo {
    font-family: 'Bungee', cursive; 
    font-weight: normal; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #ffffff;
    padding-bottom: 50px;
}

.sobreContainer {
    position: relative; 
    overflow: visible; /* Permite que os filhos se sobreponham às bordas do contêiner */
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 500px; 
}

.sobreContainerH1 {
    position: absolute; /* Posiciona a nova div */
    top: 10px; /* Ajuste conforme necessário */
    left: 70%; /* Centraliza horizontalmente */
    width: 728px; /* Define largura fixa */
    height: auto; /* Define altura fixa */
    background-color: #D9D9D9;
    border-radius: 30px;
    z-index: 9; /* Garante que a nova div fique atrás do título */
    display: flex; /* Permite centralizar o texto verticalmente */
    align-items: center; /* Alinha o texto verticalmente no centro */
    justify-content: center; /* Alinha o texto horizontalmente no centro */
    padding: 20px; /* Adiciona espaçamento interno */
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
}

.sobreContainerH1Nome {
    position: absolute; /* Posiciona a nova div */
    top: 250px; /* Ajuste conforme necessário */
    left: 115%; /* Centraliza horizontalmente */
    width: 303px; /* Define largura fixa */
    height: auto; /* Define altura fixa */
    z-index: 9; /* Garante que a nova div fique atrás do título */
    display: flex; /* Permite centralizar o texto verticalmente */
    align-items: center; /* Alinha o texto verticalmente no centro */
    justify-content: center; /* Alinha o texto horizontalmente no centro */
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
}

.sobreh1 {
    width: 100%; /* Garante que o h1 ocupe todo o espaço da nova div */
    height: 100%; /* Garante que o h1 ocupe todo o espaço da nova div */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding se não for necessário */
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
    overflow: hidden; /* Esconde o texto que ultrapassa o tamanho definido */
    text-align: center; /* Centraliza o texto horizontalmente */
    word-wrap: break-word; /* Quebra palavras longas para evitar ultrapassar o contêiner */
    overflow-wrap: break-word; /* Garante que palavras longas quebrem conforme necessário */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    color: #3A3A3A;
    font-size: 35px;
    font-family: 'Archivo', cursive; 
    line-height: 45px;
    font-weight: normal;
    text-align: left;
}

.sobreh1Nome {
    width: 100%; /* Garante que o h1 ocupe todo o espaço da nova div */
    height: 100%; /* Garante que o h1 ocupe todo o espaço da nova div */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding se não for necessário */
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
    overflow: hidden; /* Esconde o texto que ultrapassa o tamanho definido */
    text-align: center; /* Centraliza o texto horizontalmente */
    word-wrap: break-word; /* Quebra palavras longas para evitar ultrapassar o contêiner */
    overflow-wrap: break-word; /* Garante que palavras longas quebrem conforme necessário */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    color: #ffffff;
    font-size: 25px;
    font-family: 'Bungee', cursive; 
    line-height: 41px;
    font-weight: normal;
    text-align: left;
}


.sobreh1Cargo {
    width: 100%; /* Garante que o h1 ocupe todo o espaço da nova div */
    height: 100%; /* Garante que o h1 ocupe todo o espaço da nova div */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding se não for necessário */
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
    overflow: hidden; /* Esconde o texto que ultrapassa o tamanho definido */
    text-align: center; /* Centraliza o texto horizontalmente */
    word-wrap: break-word; /* Quebra palavras longas para evitar ultrapassar o contêiner */
    overflow-wrap: break-word; /* Garante que palavras longas quebrem conforme necessário */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    color: #ffffff;
    font-size: 25px;
    font-family: 'Archivo', cursive; 
    line-height: 25px;
    font-weight: normal;
    text-align: center;
}

.sobreContainerImg {
    position: relative; /* Necessário para que .sobreDetalheImg seja posicionado em relação a este contêiner */
    width: 690px;
    height: 510px;
    overflow: hidden;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.sobreDetalheImg {
    position: absolute; /* Faz com que a div seja posicionada sobre a imagem */
    bottom: 0px; /* Define a distância da parte inferior da imagem */
    right: 0px;  /* Define a distância do lado direito da imagem */
    width: 230px; /* Ajuste conforme necessário */
    height: 133px; /* Ajuste conforme necessário */
    background-color: #1F2428;
    border-radius: 50px 0 0 0;
    z-index: 5; /* Garante que este detalhe fique abaixo do título */
}

.sobreImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 10px 20px;
}

.sobreBolaEsquerda {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute; /* Posiciona a nova div */
    top: 350px; /* Ajuste conforme necessário */
    left: 120%; /* Centraliza horizontalmente */
    background-color: #D9D9D9;
    z-index: 9; /* Garante que a nova div fique atrás do título */
    display: flex; /* Permite centralizar o texto verticalmente */
    align-items: center; /* Alinha o texto verticalmente no centro */
    justify-content: center; /* Alinha o texto horizontalmente no centro */
    padding: 20px; /* Adiciona espaçamento interno */
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
}

.sobreBolaDireita {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute; /* Posiciona a nova div */
    top: 350px; /* Ajuste conforme necessário */
    left: 140%; /* Centraliza horizontalmente */
    background-color: #D9D9D9;
    z-index: 9; /* Garante que a nova div fique atrás do título */
    display: flex; /* Permite centralizar o texto verticalmente */
    align-items: center; /* Alinha o texto verticalmente no centro */
    justify-content: center; /* Alinha o texto horizontalmente no centro */
    padding: 20px; /* Adiciona espaçamento interno */
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
}

.flecha-esquerda {
    width: 0;
    height: 0;
    margin: 10px 10px 10px 10px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid #000000; /* Cor da flecha */
}

.flecha-direita {
    width: 0;
    height: 0;
    margin: 10px 10px 10px 18px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #000000; /* Cor da flecha */
}

@media screen and (max-width: 1500px) {   
    .sobreSectionSobre {
        padding: 64px; /* 80px reduzido em 20% */
    }
    
    .sobreTitulo {
        font-size: 28px; /* 35px reduzido em 20% */
        padding-bottom: 40px; /* 50px reduzido em 20% */
    }
    
    .sobreContainer {
        margin-right: 400px; /* 500px reduzido em 20% */
    }
    
    .sobreContainerH1 {
        top: 8px; /* 10px reduzido em 20% */
        left: 70%; /* 70% reduzido em 20% */
        width: 583px; /* 728px reduzido em 20% */
        border-radius: 24px; /* 30px reduzido em 20% */
        padding: 16px; /* 20px reduzido em 20% */
    }
    
    .sobreContainerH1Nome {
        top: 180px; /* 250px reduzido em 20% */
        left: 102%; /* 115% reduzido em 20% */
        width: 252px; /* 303px reduzido em 20% */
    }
    
    .sobreh1 {
        font-size: 28px; /* 35px reduzido em 20% */
        line-height: 36px; /* 45px reduzido em 20% */
    }
    
    .sobreh1Nome {
        font-size: 20px; /* 25px reduzido em 20% */
        line-height: 33px; /* 41px reduzido em 20% */
    }
    
    .sobreh1Cargo {
        font-size: 20px; /* 25px reduzido em 20% */
        line-height: 20px; /* 25px reduzido em 20% */
    }
    
    .sobreContainerImg {
        width: 552px; /* 690px reduzido em 20% */
        height: 408px; /* 510px reduzido em 20% */
    }
    
    .sobreDetalheImg {
        width: 184px; /* 230px reduzido em 20% */
        height: 107px; /* 133px reduzido em 20% */
        border-radius: 40px 0 0 0; /* 50px reduzido em 20% */
    }
    
    .sobreImg {
        border-radius: 16px 16px 8px 16px; /* 20px reduzido em 20% */
    }
    
    .sobreBolaEsquerda {
        width: 80px; /* 100px reduzido em 20% */
        height: 80px; /* 100px reduzido em 20% */
        top: 280px; /* 350px reduzido em 20% */
        left: 105%; /* 120% reduzido em 20% */
        padding: 16px; /* 20px reduzido em 20% */
    }
    
    .sobreBolaDireita {
        width: 80px; /* 100px reduzido em 20% */
        height: 80px; /* 100px reduzido em 20% */
        top: 282px; /* 350px reduzido em 20% */
        left: 123%; /* 140% reduzido em 20% */
        padding: 16px; /* 20px reduzido em 20% */
    }
    
    .flecha-esquerda {
        margin: 8px; /* 10px reduzido em 20% */
        border-top: 16px solid transparent; /* 20px reduzido em 20% */
        border-bottom: 16px solid transparent; /* 20px reduzido em 20% */
        border-right: 24px solid #000000; /* 30px reduzido em 20% */
    }
    
    .flecha-direita {
        margin: 8px 8px 8px 14px; /* 10px 10px 10px 18px reduzido em 20% */
        border-top: 16px solid transparent; /* 20px reduzido em 20% */
        border-bottom: 16px solid transparent; /* 20px reduzido em 20% */
        border-left: 24px solid #000000; /* 30px reduzido em 20% */
    }
}



@media screen and (max-width: 1000px) {   
    .sobreSectionSobre {
        padding: 51px;
    }
    
    .sobreTitulo {
        font-size: 22px;
        padding-bottom: 32px;
    }
    
    .sobreContainer {
        margin-right: 320px;
    }
    
    .sobreContainerH1 {
        top: 6px;
        left: 70%;
        width: 466px;
        border-radius: 19px;
        padding: 13px;
    }
    
    .sobreContainerH1Nome {
        top: 160px;
        left: 104%;
        width: 200px;
    }
    
    .sobreh1 {
        font-size: 22px;
        line-height: 29px;
    }
    
    .sobreh1Nome {
        font-size: 16px;
        line-height: 26px;
    }
    
    .sobreh1Cargo {
        font-size: 16px;
        line-height: 16px;
    }
    
    .sobreContainerImg {
        width: 442px;
        height: 326px;
    }
    
    .sobreDetalheImg {
        width: 147px;
        height: 86px;
        border-radius: 32px 0 0 0;
    }
    
    .sobreImg {
        border-radius: 13px 13px 6px 13px;
    }
    
    .sobreBolaEsquerda {
        width: 64px;
        height: 64px;
        top: 224px;
        left: 110%;
        padding: 13px;
    }
    
    .sobreBolaDireita {
        width: 64px;
        height: 64px;
        top: 224px;
        left: 125%;
        padding: 13px;
    }
    
    .flecha-esquerda {
        margin: 6px;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 19px solid #000000;
    }
    
    .flecha-direita {
        margin: 6px 6px 6px 11px;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 19px solid #000000;
    }
}

@media screen and (max-width: 850px) {
    .sobreSectionSobre {
        padding: 41px;
    }
    
    .sobreTitulo {
        font-size: 18px;
        padding-bottom: 25px;
    }
    
    .sobreContainer {
        margin-right: 256px;
    }
    
    .sobreContainerH1 {
        top: 6px;
        left: 70%;
        width: 466px;
        border-radius: 19px;
        padding: 13px;
    }
    
    .sobreContainerH1Nome {
        top: 130px;
        left: 104%;
        width: 160px;
    }
        
    .sobreh1 {
        font-size: 18px;
        line-height: 23px;
    }
    
    .sobreh1Nome {
        font-size: 13px;
        line-height: 21px;
    }
    
    .sobreh1Cargo {
        font-size: 13px;
        line-height: 13px;
    }
    
    .sobreContainerImg {
        width: 353px;
        height: 261px;
    }
    
    .sobreDetalheImg {
        width: 118px;
        height: 69px;
        border-radius: 26px 0 0 0;
    }
    
    .sobreImg {
        border-radius: 10px 10px 5px 10px;
    }
    
    .sobreBolaEsquerda {
        width: 51px;
        height: 51px;
        top: 179px;
        left: 105%;
        padding: 10px;
    }
    
    .sobreBolaDireita {
        width: 51px;
        height: 51px;
        top: 179px;
        left: 123%;
        padding: 10px;
    }
    
    .flecha-esquerda {
        margin: 5px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 15px solid #000000;
    }
    
    .flecha-direita {
        margin: 5px 5px 5px 9px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #000000;
    }
    
}

@media screen and (max-width: 650px) {
    .sobreSectionSobre {
        padding: 33px;
    }
    
    .sobreTitulo {
        font-size: 14px;
        padding-bottom: 20px;
    }
    
    .sobreContainer {
        margin-right: 205px;
    }
    
    .sobreContainerH1 {
        top: 6px;
        left: 70%;
        width: 306px;
        border-radius: 15px;
        padding: 10px;
    }
    
    .sobreContainerH1Nome {
        top: 100px;
        left: 104%;
        width: 130px;
    }
    
    .sobreh1 {
        font-size: 14px;
        line-height: 18px;
    }
    
    .sobreh1Nome {
        font-size: 10px;
        line-height: 17px;
    }
    
    .sobreh1Cargo {
        font-size: 10px;
        line-height: 10px;
    }
    
    .sobreContainerImg {
        width: 282px;
        height: 209px;
    }
    
    .sobreDetalheImg {
        width: 95px;
        height: 55px;
        border-radius: 21px 0 0 0;
    }
    
    .sobreImg {
        border-radius: 8px 8px 4px 8px;
    }
    
    .sobreBolaEsquerda {
        width: 41px;
        height: 41px;
        top: 143px;
        left: 105%;
        padding: 8px;
    }
    
    .sobreBolaDireita {
        width: 41px;
        height: 41px;
        top: 143px;
        left: 125%;
        padding: 8px;
    }
    
    .flecha-esquerda {
        margin: 4px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 12px solid #000000;
    }
    
    .flecha-direita {
        margin: 4px 4px 4px 7px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 12px solid #000000;
    }
    
}

@media screen and (max-width: 550px) {
    .sobreSectionSobre {
        padding: 26px;
    }
    
    .sobreTitulo {
        font-size: 9vw;
        padding-bottom: 16px;
    }
    
    .sobreContainer {
        margin-right: 164px;
    }
    
    .sobreContainerH1 {
        top:350px;
        left: 10%;
        width: 80vw;
        border-radius: 2vw;
        padding: 3vw;
  }
    
    .sobreContainerH1Nome {
        top: 10vw;
        left: 104%;
        width: 40vw;
    }
    
    .sobreh1 {
        width: 104%; /* Garante que o h1 ocupe todo o espaço da nova div */
        font-size: 4vw;
        line-height: 4vw;
    }
    
    .sobreh1Nome {
        font-size: 3.3vw;
        line-height: 3.3vw;
    }
    
    .sobreh1Cargo {
        font-size: 4vw;
        line-height: 4vw;
    }
    
    .sobreContainerImg {
        width: 40vw;
        height: 500px;
    }
    
    .sobreDetalheImg {
        width: 76px;
        height: 44px;
        border-radius: 17px 0 0 0;
    }
    
    .sobreImg {
        border-radius: 6px 6px 3px 6px;
    }
    
    .sobreBolaEsquerda {
        width: 15vw;
        height: 15vw;
        top: 25vw;
        left: 45vw;
    }
    
    .sobreBolaDireita {
        width: 15vw;
        height: 15vw;
        top: 25vw;
        left: 63vw;
    }
    
    .flecha-esquerda {
        margin: 2vw;
        border-top: 4vw solid transparent;
        border-bottom: 4vw solid transparent;
        border-right: 7vw solid #000000;
    }
    
    .flecha-direita {
        margin: 2vw;
        border-top: 4vw solid transparent;
        border-bottom: 4vw solid transparent;
        border-left: 7vw solid #000000;
    }
    
}
